$transition: 0.5s;
$borderRadius: 5px;
$btnColor: #eeeeee;
$textColor: #263238;
$cardColor: #f5f5f5;
$titleColor: #8f95a5;
$PoppinsMedium: "Poppins-Medium";
$PoppinsRegular: "Poppins-Regular";
$PoppinsSemiBold: "Poppins-SemiBold";
